# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# others folders and files
.vscode-test/
*.vsix

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/out
/lib
/storybook-static
public/main.js
main.js.LICENSE.txt
public/examples

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
*.log

# lock files
/yarn.lock
/package-lock.json
